<h1>Listing insider_deals</h1>

<table>
  <tr>
    <th>Occurred</th>
    <th>Person</th>
    <th>Quanity</th>
    <th>Price</th>
    <th>Type</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @insider_deals.each do |insider_deal| %>
  <tr>
    <td><%= insider_deal.occurred %></td>
    <td><%= insider_deal.person %></td>
    <td><%= insider_deal.quanity %></td>
    <td><%= insider_deal.price %></td>
    <td><%= insider_deal.type %></td>
    <td><%= insider_deal.link %></td>
    <td><%= link_to 'Show', insider_deal %></td>
    <td><%= link_to 'Edit', edit_insider_deal_path(insider_deal) %></td>
    <td><%= link_to 'Destroy', insider_deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Insider deal', new_insider_deal_path %>
