<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1>Insider Deals</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-md-4">
		<%= paginate @insider_deals %>
	</div>
	<div class="col-xs-6 col-md-offset-6 col-md-2">
		<div class="pull-right pagination">
			<%= @insider_deals.offset_value + 1 %> - <%= @insider_deals.offset_value + @insider_deals.length %> of <%= @insider_deals.total_count %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>Occurred</th>
					<th>Action</th>
					<th>Company</th>
					<th>Person</th>
					<th>Price</th>
					<th>Quanity</th>
					<th>Volume</th>
					<th>Source</th>
				</tr>

				<% @insider_deals.each do |insider_deal| %>
				<tr>
					<td><%= insider_deal.occurred %></td>
					<td><%= as_string(insider_deal.trade_type) %></td>
					<td><%= insider_deal.share.name %></td>
					<td><%= insider_deal.person %></td>
					<td><%= insider_deal.price %></td>
					<td><%= insider_deal.quantity %></td>
					<td><%= number_with_precision(insider_deal.price * insider_deal.quantity, precision: 0, delimiter: ' ') %></td>
					<td><%= link_to('Show details', insider_deal.link, :target => "_blank") %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
