<p id="notice"><%= notice %></p>

<p>
  <b>Occurred:</b>
  <%= @insider_deal.occurred %>
</p>

<p>
  <b>Person:</b>
  <%= @insider_deal.person %>
</p>

<p>
  <b>Quanity:</b>
  <%= @insider_deal.quanity %>
</p>

<p>
  <b>Price:</b>
  <%= @insider_deal.price %>
</p>

<p>
  <b>Type:</b>
  <%= @insider_deal.type %>
</p>

<p>
  <b>Link:</b>
  <%= @insider_deal.link %>
</p>


<%= link_to 'Edit', edit_insider_deal_path(@insider_deal) %> |
<%= link_to 'Back', insider_deals_path %>
