<tr>
	<%= render 'score', :score => @score_card.analysts_opinion.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="TODO"></span> Analystenmeinungen
	</td>
	<% if @score_card.analysts_opinion.succeeded %>
		<td>
			Buy: <%= @score_card.analysts_opinion.buy %>
		</td>
		<td>
			Hold: <%= @score_card.analysts_opinion.hold %>
		</td>
		<td>
			Sell: <%= @score_card.analysts_opinion.sell %>			
		</td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>