<div>
	<%= render 'score', :score => @score_card.average_price_earnings_ratio.score %>
  KGV 5 Jahre: <img src="/help.png" title="< 12 | 12 - 16 | > 16">
  <% if @score_card.average_price_earnings_ratio.succeeded %>
		<br>
		&nbsp;&nbsp;Durchschnittswert: <%= @score_card.average_price_earnings_ratio.average %>
    <table border="1">
	    <colgroup>
	      <col width="60">
        <col width="60">
        <col width="60">
        <col width="60">
        <col width="60">
      </colgroup>
			<tr>
				<th><%= @score_card.average_price_earnings_ratio.three_years_ago %></th>
				<th><%= @score_card.average_price_earnings_ratio.two_years_ago %></th>
				<th><%= @score_card.average_price_earnings_ratio.last_year %></th>
				<th><%= @score_card.average_price_earnings_ratio.this_year %></th>
				<th><%= @score_card.average_price_earnings_ratio.next_year %></th>
			</tr>
			<tr>
				<td><%= @score_card.average_price_earnings_ratio.value_three_years_ago %></td>
				<td><%= @score_card.average_price_earnings_ratio.value_two_years_ago %></td>
				<td><%= @score_card.average_price_earnings_ratio.value_last_year %></td>
				<td><%= @score_card.average_price_earnings_ratio.value_this_year %></td>
				<td><%= @score_card.average_price_earnings_ratio.value_next_year %></td>
			</tr>
		</table>
	<% else %>%
		<%= render 'failed' %>
	<% end %>
</div>



  	