<div class="row">
	<%= render 'score', :score => @score_card.ebit_margin.score %>
	<div class="col-xs-11 col-md-3">
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="<%= resolve_info_for_ebit_margin(@score_card.share) %>"></span> EBIT-Marge LJ
	</div>
	<% if @score_card.ebit_margin.succeeded %>
		<div class="col-xs-6 col-md-2">
			Value: <%= @score_card.ebit_margin.value %>%
		</div>
		<div class="col-xs-6 col-md-2">
			Year: <%= @score_card.ebit_margin.last_year %>
		</div>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</div>