<tr>
	<%= render 'score', :score => @score_card.ebit_margin.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="<%= resolve_info_for_ebit_margin(@score_card.share) %>"></span> EBIT-Marge LJ
	</td>
	<% if @score_card.ebit_margin.succeeded %>
		<td>
			Value: <%= @score_card.ebit_margin.value %>%
		</td>
		<td>
			Year: <%= @score_card.ebit_margin.last_year %>
		</td>
		<td></td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>