<tr>
	<%= render 'score', :score => @score_card.equity_ratio.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="<%= resolve_info_for_equity_ratio(@score_card.share)%>"></span> Eigenkapitalquote LJ
	</td>
	<% if @score_card.equity_ratio.succeeded %>
		<td>
			Value: <%= @score_card.equity_ratio.value %>%
		</td>
		<td>
			Year: <%= @score_card.equity_ratio.last_year %>
		</td>
		<td></td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>