<%= form_for(@score_card) do |f| %>
  <% if @score_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_card.errors.count, "error") %> prohibited this score_card from being saved:</h2>

      <ul>
      <% @score_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(I18n.t(:isin)) %><br />
    <%= f.text_field :isin %>
  </div>
  <div class="field">
    <%= f.label(I18n.t(:index)) %><br />
    <%= select_tag(:stock_index, options_from_collection_for_select(StockIndex.all, :id, :name)) %>
  </div>
  <div class="field">
    <%= f.label(I18n.t(:financial)) %><br />
    <%= f.check_box :financial %>
  </div>

  <div class="actions">
    <%= f.submit(I18n.t(:submit)) %>
  </div>
<% end %>
