<tr>
	<%= render 'score', :score => @score_card.insider_info.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="<%= resolve_info_for_insider_deals(@score_card.share) %>"></span> Current Insider Deals
	</td>
	<% if @score_card.insider_info.succeeded %>
		<td colspan=3>
			Buy: <%= @score_card.insider_info.buy_transactions %>
			Sell: <%= @score_card.insider_info.sell_transactions %>
		  <% if @score_card.insider_info.insider_deals? %>
				<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#insiderDeals">Show</button>
		  <% end %>
    </td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>

