<div class="row">
	<%= render 'score', :score => @score_card.profit_revision.score %>
	<div class="col-md-3">
		Gewinnrevisionen
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="steigend | zwischen -5% und +5% | fallend"></span>
	</div>
	<% if @score_card.profit_revision.succeeded %>
		<div class="col-md-2">
			Heraufstufungen: <%= @score_card.profit_revision.up %>
		</div>
		<div class="col-md-2">
			Bestätigungen: <%= @score_card.profit_revision.equal %>
		</div>
		<div class="col-md-2">
			Herabstufungen: <%= @score_card.profit_revision.down %>
		</div>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</div>