<tr>
	<%= render 'score', :score => @score_card.profit_growth.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="EPS AJ < EPS NJ | zwischen -5% und +5% | EPS AJ > EPS NJ"></span> Gewinnwachstum
	</td>
	<% if @score_card.profit_growth.succeeded %>
		<td>
			Performance: <%= number_with_precision @score_card.profit_growth.perf, :precision => 2 %>%
		</td>
		<td>
			This year (<%= @score_card.profit_growth.this_year %>): <%= @score_card.profit_growth.value_this_year %>
		</td>
		<td>
			Next year (<%= @score_card.profit_growth.next_year %>): <%= @score_card.profit_growth.value_next_year %>
		</td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>