<div>
	<%= render 'score', :score => @score_card.profit_growth.score %>
	Gewinnwachstum: <img src="/help.png" title="EPS AJ < EPS NJ | zwischen -5% und +5% | EPS AJ > EPS NJ">
  <% if @score_card.profit_growth.succeeded %>
	 <br>
		&nbsp;&nbsp;Diese Jahr (<%= @score_card.profit_growth.this_year %>): <%= @score_card.profit_growth.value_this_year %><br>
		&nbsp;&nbsp;Nächstes Jahr (<%= @score_card.profit_growth.next_year %>): <%= @score_card.profit_growth.value_next_year %><br>
		&nbsp;&nbsp;Performance: <%= @score_card.profit_growth.perf %><br>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</div>