<tr>
	<%= render 'score', :score => @score_card.profit_revision.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="steigend | zwischen -5% und +5% | fallend"></span> Gewinnrevisionen
	</td>
	<% if @score_card.profit_revision.succeeded %>
		<td>
			Upgrade: <%= @score_card.profit_revision.up %>
		</td>
		<td>
			Confirmation: <%= @score_card.profit_revision.equal %>
		</td>
		<td>
			Downgrade: <%= @score_card.profit_revision.down %>
		</td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>