<div class="row">
	<%= render 'score', :score => @score_card.stock_price_dev_one_year.score %>
	<div class="col-md-3">
		Kurs heute gg. Kurs vor 1 Jahr: <img src="/help.png" title="steigend | zwischen -5% und +5% | fallend">
	</div>
	<% if @score_card.stock_price_dev_half_year.succeeded %>
		<div class="col-md-2">
			Performance: <%= @score_card.stock_price_dev_one_year.perf %>
		</div>
		<div class="col-md-2">
			Kurs heute: <%= @score_card.price %>
		</div>
		<div class="col-md-3">
			Kurs vor einem Jahr: <%= @score_card.stock_price_dev_one_year.value %>
		</div>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</div>