<div class="row">
	<%= render 'score', :score => @score_card.stock_price_dev_half_year.score %>
	<div class="col-xs-11 col-md-3">
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="steigend | zwischen -5% und +5% | fallend"></span> Kurs heute gg. Kurs vor 6 Monaten
	</div>
	<% if @score_card.stock_price_dev_half_year.succeeded %>
		<div class="col-xs-4 col-md-2">
			Performance: <%= number_with_precision @score_card.stock_price_dev_half_year.perf, :precision => 2 %>%
		</div>
		<div class="col-xs-4 col-md-2">
			Price today: <%= @score_card.price %>
		</div>
		<div class="col-xs-4 col-md-3">
			Price six months ago: <%= @score_card.stock_price_dev_half_year.value %>
		</div>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</div>