<tr>
	<%= render 'score', :score => @score_card.stock_price_dev_one_year.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="steigend | zwischen -5% und +5% | fallend"></span> Kurs heute gg. Kurs vor 1 Jahr
	</td>
	<% if @score_card.stock_price_dev_half_year.succeeded %>
		<td>
			Performance: <%= number_with_precision @score_card.stock_price_dev_one_year.perf, :precision => 2 %>%
		</td>
		<td>
			Price today: <%= @score_card.price %>
		</td>
		<td>
			Price one year ago: <%= @score_card.stock_price_dev_one_year.value %>
		</td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>