<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li class="active">Sore Cards</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1>Score Cards <small>Newer than two days</small></h1>
	</div>
</div>

<%= form_tag(score_cards_path, {:method => "get", :class => "form-inline"}) do %>
	<div class="form-group">
		<div class="form-group">
			<%= label_tag(:d, "Created", :class => "sr-only") %>
			<%= text_field_tag(:d, nil, {:class => "form-control datepicker", :placeholder => "Created at"}) %>
		</div>
		<div class="form-group">
			<%= label_tag(:share, "Share", :class => "sr-only") %>
			<%= text_field_tag(:share, nil, {:class => "form-control", :placeholder => "Share"}) %>
		</div>
		<%= submit_tag("Apply", :class => "btn btn-primary") %>
	</div>
	
<% end %>

<div class="row">
	<div class="col-md-3">
		<%= paginate @score_cards %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
		  <colgroup>
		    <col width="60">
		    <col width="200">
		    <col width="400">
		    <col width="60">
		    <col width="80">
		    <col width="80">
		  </colgroup>
		  <tr>
		  	<th>Score</th>
		    <th>Created</th>
		    <th>Share</th>
		    <th>Financial</th>
		    <th></th>
		    <th></th>
		  </tr>
			<% @score_cards.each do |score_card| %>
			  <tr>
			  	<td><%= score_card.total_score %></td>
			    <td><%= l score_card.created_at %></td>
			    <td nowrap><%= link_to "#{score_card.share.name}" , score_card.share %></td>
			    <td><%= score_card.share.financial %></td>
			    <td><%= link_to 'Score Card', score_card %></td>
			    <td><%= link_to 'Destroy', score_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			  </tr>
			<% end %>
		</table>
	</div>
</div>
