<% if notice != nil %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div class="alert alert-success alert-dismissable">
		  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  	<strong>Info:</strong> <%= notice %>
		  </div>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-12">
		<h1>Total Score for <%= link_to @score_card.share.name, @score_card.share %> is <span class="<%= highlight(@score_card.total_score) %>"><%= @score_card.total_score %></span></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2><small>Created: <%= I18n.l(@score_card.created_at) %> | Price: <%= @score_card.price %> | ISIN: <%= @score_card.share.isin %></small></h2>
	</div>
</div>
<br>
<%= render 'roe' %><br>
<%= render 'ebit_margin' %><br>
<%= render 'equity_ratio' %><br>
<%= render 'current_price_earnings_ratio' %><br>
<%= render 'average_price_earnings_ratio' %><br>
<%= render 'analysts_opinion' %><br>
<%= render 'reaction' %><br>
<%= render 'profit_revision' %><br>
<%= render 'stock_price_dev_half_year' %><br>
<%= render 'stock_price_dev_one_year' %><br>
<%= render 'price_momentum' %><br>
<%= render 'reversal' %><br>
<%= render 'profit_growth' %><br>

