<p id="notice"><%= notice %></p>
<h2>Rating for: <%= @score_card.share.name %> (ISIN: <%= @score_card.share.isin %>)</h4>
<h4>Current Price: <%= @score_card.price %> | Compare-Index: <%= @score_card.share.stock_index.name %> | Financial: <%= @score_card.share.financial %></h3>
<h3>Score: <%= @score_card.total_score %></h5>

<%= render 'roe' %><br>
<%= render 'ebit_margin' %><br>
<%= render 'equity_ratio' %><br>
<%= render 'current_price_earnings_ratio' %><br>
<%= render 'average_price_earnings_ratio' %><br>
<%= render 'analysts_opinion' %><br>
<%= render 'reaction' %><br>
<%= render 'profit_revision' %><br>
<%= render 'stock_price_dev_half_year' %><br>
<%= render 'stock_price_dev_one_year' %><br>
<%= render 'price_momentum' %><br>
<%= render 'reversal' %><br>
<%= render 'profit_growth' %><br>

