<%= link_to 'Edit', edit_share_path(@share) %> |
<%= link_to 'Destroy', @share, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Lookup Insider Deals', lookup_insider_trades_share_path(@share) %> |
<%= link_to 'Rate this share', "/score_cards/assess_share/#{@share.isin}", :method => :put %>
<p id="notice"><%= notice %></p>

<p>
  Name:
  <%= @share.name %> 
</p>

<p>
  Isin:
  <%= @share.isin %>
</p>

<p>
  Financial:
  <%= @share.financial %>
</p>

<p>
  Size:
  <%= to_readable_comp_size(@share.size) %>
</p>

<p>
  Annual shareholder meeting:
  <%= @share.asm %>
</p>

Insider Deals:
<% @share.insider_deals.each do |deal| %>
<div>
		<span>Trade Type: <%= deal.trade_type %></span>&nbsp;
  	<span>Occurred: <%= deal.occurred %></span>&nbsp;
  	<span>Person: <%= deal.person %></span>&nbsp;
		<span>Quantity: <%= deal.quantity %></span>&nbsp;
		<span>Price <%= deal.price %></span>&nbsp;
		<span>Total: <%= deal.quantity * deal.price %></span>
		<span><%= link_to('Details', deal.link) %></span>
</div>
<% end %>
<br>

<br>
Ratings:
<% @share.score_cards.each do |score_card| %>
<div>
		<span><%= Util.format_date_time(score_card.created_at) %> Total Score: <%= link_to(score_card.total_score, score_card) %></span>
</div>
<% end %>
