<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li><%= link_to 'Shares', shares_path() %></li>
		  <li class="active">Show</li>
		</ol>
	</div>
</div>

<% if notice != nil %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div class="alert alert-success alert-dismissable">
		  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  	<strong><%= notice %></strong>
		  </div>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-12">
		<h1>Share: <%= @share.name %></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>
			<span class="label label-default"><%= @share.isin %></span>
			<span class="label label-default"><%= to_readable_comp_size(@share.size) %></span>
			<span class="label label-default"><%= @share.currency %></span>
			<span class="label label-default"><%= @share.stock_exchange %></span>
			<span class="label label-default"><%= @share.stock_index.name %></span>
			<% if @share.financial %><span class="label label-default">Financial</span><% end %>
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4>
			Want to change any properties? <%= link_to 'Edit', edit_share_path(@share), {:class => "btn btn-default"} %>
		</h4>
		<h4>
		  Are there new insider deals? <%= link_to 'Lookup', lookup_insider_trades_share_path(@share), {:class => "btn btn-default"} %>
		</h4>
		<h4>
		  Do you want to run a new evaluation? <%= link_to 'Run', "/score_cards/assess_share/#{@share.isin}",
		  	  {:method => :put, :class => "btn btn-default", "data-toggle" => "modal", "data-target" => "#busyScreen"} %>
		</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= render 'chart' %>
	</div>
</div>

<%= render 'insider_deals' %>
<%= render 'busy_screen' %>

