<%= link_to 'Show All', stock_indices_path, {:class => "btn btn-primary"} %>
<%= link_to 'Edit', edit_stock_index_path(@stock_index), {:class => "btn btn-primary"} %></td>
<%= link_to 'Destroy', @stock_index, {:class => "btn btn-primary"}, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<h1>Stock Index</h1>
<br>
<p id="notice"><%= notice %></p>

<p>
  <b>Isin:</b>
  <%= @stock_index.isin %>
</p>

<p>
  <b>Name:</b>
  <%= @stock_index.name %>
</p>
