<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1>Shares ordered by continuous rising price</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-md-4">
		<%= paginate @rising_scores %>
	</div>
	<div class="col-xs-6 col-md-offset-6 col-md-2">
		<div class="pull-right pagination">
			<%= @rising_scores.offset_value + 1 %> - <%= @rising_scores.offset_value + @rising_scores.length %> of <%= @rising_scores.total_count %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>Days<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Number of days the price is rising"></span></th>
					<th>Company</th>
					<th>ING DiBa</th>
				</tr>

				<% @rising_scores.each do |rising_score| %>
				<tr>
					<td><%= rising_score.days %></td>
					<td nowrap><%= link_to "#{rising_score.share.name}" , rising_score.share %></td>
					<td><%= link_to "Open", link_to_ing_diba(rising_score.share.isin), :target => "_blank" %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
