<p id="notice"><%= notice %></p>

<p>
  <b>Days:</b>
  <%= @rising_score.days %>
</p>

<p>
  <b>Isin:</b>
  <%= @rising_score.isin %>
</p>


<%= link_to 'Edit', edit_rising_score_path(@rising_score) %> |
<%= link_to 'Back', rising_scores_path %>
