<!DOCTYPE html>
<html>
<head>
  <title>Lmr</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="top_nav"><%= link_to 'Score Cards', score_cards_path %></div>
	<%= yield %>

</body>
</html>
