<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lmr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="top_nav">
		<%= image_tag("bar_graph_small.png") %>
		<ul>
			<li class=<%= check_place(score_cards_path, request.fullpath)%>><%= link_to 'Score Cards', score_cards_path %></li>
			<li class=<%= check_place(shares_path, request.fullpath)%>><%= link_to 'Shares', shares_path %></li>
			<li class=<%= check_place(stock_indices_path, request.fullpath)%>><%= link_to 'Stock Indices', stock_indices_path %></li>
		</ul>
	</div>

	<div id="content" class="container">
		<%= yield %>
	</div>

</body>
</html>
