<!DOCTYPE html>
<html>
<head>
  <title>Lmr</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="top_nav">
		<%= image_tag("bar_graph_small.png") %>
		<ul>
			<li class="active"><%= link_to 'Score Cards', score_cards_path %></li>
			<li><%= link_to 'New Score Card', new_score_card_path %></li>
			<li><%= link_to 'Stock Indices', stock_indices_path %></li>
		</ul>
	</div>
	
	<div id="content">
		<%= yield %>
	</div>

</body>
</html>
