<%= form_for(@person_of_interest) do |f| %>
  <% if @person_of_interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person_of_interest.errors.count, "error") %> prohibited this person_of_interest from being saved:</h2>

      <ul>
      <% @person_of_interest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
